language: node_js
node_js:
    - "6.9.0"
    - "8.5.0"

install:
    - npm install .
    - npm install kelda/deployment-engine-downloader && ./node_modules/.bin/kelda-downloader

before_script:
    - npm install -g gulp-cli

script:
    - gulp lint
    - ./kelda inspect ./lobstersExample.js graphviz

notifications:
    slack:
        secure: hzu9qgUAE3iTyzdTna1yfd/buwEPet5Wyiq4pCvN3hSwJwcxqxc9imDyGcU7JtRzookmdcANaaGvH43X/p87FP5YtkCXXfpXXJEPEYR6a+FtPEffGuKi6XlTPoO26u+hQsqqUOt0JmP6EwlKvSYcpucdrdRjV8D6A8eE5dudU8QO5ps4ALNHggU+n3XXMCfgAlqQGmfXS0kHvEyk/TbWCe3H8xlMF/sBcOLocdxQeEf8bT1offOlRYIN+kCfQ4po6EJbnv+r46g1sFozRCoqUpfDU3+qz6QKdadTYZrB4jSAeIFSiGPqOODPRPF+HDLtEzj80SOcZIVwgcKtMx2XoinmxpujaQMeD9ha22dWikP/Q85ujU6JRbhS44tjPklkat4bFn/qDFlD0gnSk33TGpLxdYhEN+631My09AiLt7k7dwC4iKtxowreqWYBs0KASM7bPA7flTj9ksuX6kBRLafglXblDicbhZg3XAJgUBewuygeOL+STmbxrU0LhsJclSwNNmp4B5iRwwYrtw1bhWeeFVpaTKZvrTCKaFSWj0aY/dWObmFx9wQ4bFweCWE9IjsFIaRvh2CqwDr1ujMRZHGp7aJC6EMXIeKuobJh8Ba9/r1CepcRvcsRljx1HvxbALs8V2kYgMGwNseJDhue4Wqe56Mt+lxbetZjRophzR4=
